<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BMI Calculator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bmi-page">
  <header>
      <img src="{{ url_for('static', filename='assets/logo.png') }}" style="width: 100px;">
    <div class="nav-buttons">
      <a href="{{ url_for('ui.show_predict_page') }}" class="btn-secondary-1">Diabetes Predictor</a>
      <a href="{{ url_for('ui.show_dpf_page') }}" class="btn-secondary">DPF Calculator</a>
    </div>
  </header>

  <h2>BMI Calculator</h2>

  <form id="bmiForm" class="bmi-form">
    <div class="form-grid">
      <div>
          <label>Height (m)</label>
          <input type="number" step="0.01" id="height" placeholder="e.g. 1.65" required />
      </div>

      <div>
          <label>Weight (kg)</label>
          <input type="number" step="0.1" id="weight" placeholder="e.g. 60" required />
      </div>
    </div>
    <br>
      <div>
          <button type="submit" class="btn-ternary">Calculate</button>
      </div>
  </form>
  
    
    <div class="result-box">
        <p>BMI Value: <span id="bmiResult">{ }</span></p>
    </div>

  <img src="assets/hand.png" alt="Hand" class="hand-img" />

  <script>
    document.getElementById('bmiForm').addEventListener('submit', (e) => {
      e.preventDefault();
      const h = parseFloat(document.getElementById('height').value);
      const w = parseFloat(document.getElementById('weight').value);
      const bmi = (w / (h * h)).toFixed(2);
      document.getElementById('bmiResult').textContent = bmi;
    });
  </script>
</body>
</html>
